* {
  text-align: center;
  margin: 0;
}

html {
  background-color: #ffe1a8;
  height: 100%;
}

.cover {
  display: flex;
}

/* Control the left side */
.split {
  flex: 1;
  margin: 1em;
  background-color: #c9cba3;
  border-radius: 1.5em;
}


/* Navigation bar */

.navbar {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e26d5c;
 height: 4em;
}

.navbar h1 {
  font-size: 3em;
  color: #fbf7f0;
  font-family: 'Courier New', Courier, monospace;
}

/* .playlist_icon {
  color: azure;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
} */

/* .dropdown {
  color: rgb(251, 247, 255);
  height: 3em;
}

.dropbtn {
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  color: azure;
  padding: 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content a {
  color: azure;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.dropdown-content a:hover {font-size: 25px;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
} */

/* Search bar */

.search-bar {
  padding-top: 4em;
}

.search-input {
  height: 5em;
  width: 25em;
  border-radius: 4em;
  border: solid #6610f2;
}

.search-input:focus {
  border: 3px solid #6610f2;
  outline: none !important;
}


/* Tracklist */


.track_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
}

.track_container {
    display: inline;
}

.card {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8em;
  color: #20201f;
  width: 100%;
}

.card_image {
  max-width: 100%;
  max-height: auto;
  height: 12em;
}

.image {
  padding-bottom: 10px;
  background-color: transparent;
}

.track-info {
  font-family: 'Courier New', Courier, monospace;
  height: auto;
  display: block;
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}

/* form name */

.submitForm input {
  height: 2em;
  width: 15em;
  border-radius: 4em;
  border: solid #6610f2;
}

input:focus {
  border: 2px solid #6610f2;
  outline: none !important;
}

.submitForm p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

/* Playlist */

li {
  list-style: none;
}

.playlist_input {
  border-radius: 20px;
  height: 30px;
  width: 170px;
  margin-top: 10px;
  border: solid #6610f2;
}

.playlist p {
  margin-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.savedPlaylist {
  display: flex;
  flex-direction: column;
}

/* Playlist component PlaylistComponents */

.savedPlaylistName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 25px;
}

.savedPlaylistNameButton {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.edit-playlist-input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}